/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#data-overview, #heatmap, #contributing-factors, #injuries, #fatalities, #vehicle-types,
#collisions-over-time, #temporal-heatmap, #collisions-by-borough, #hourly-collision-trends,
#average-severity, #crash-markers {
    width: 90%;
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#heatmap, #crash-markers {
    height: 500px;
}
